* {
    -webkit-user-select: none;
}

input, textarea {
    -webkit-user-select: auto !important;
}

a {
    -webkit-touch-callout: none;
}

.content {
    position: relative;
    background-color: #EAEAEA;
    padding: 30px 20px;
}

.content.contact li {
    line-height: 30px;
}

body {
    background-color: #EAEAEA;
}